.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px
}

.boxFaire {
    padding: 16px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgb(210, 207, 207);
}

.boxFaire button {
    display: block;
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgb(210, 207, 207);
    padding: 8px;
    color: brown;
}

.boxFaire button:hover {
    background-color: rgb(240, 240, 240);
    color: rgb(81, 0, 0);
}

.faireHelp {
    border: 1px solid rgb(210, 207, 207);
    border-radius: 8px;
    background-color: white;
}

.title {
    padding: 16px;
    background-color: rgb(152, 237, 254);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.content {
    padding: 16px;
}