

.boxWrapper {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;

}

.boxLeft {
    flex: 2;
    background-color: white;
    border-radius: 8px;
    border: 0.1px solid rgba(0,0,0,0.2);
    padding: 16px;
}

.boxRight {
    flex: 1;
}

.helpChat {
    margin: 0;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    border: 0.1px solid rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-around;
    gap: 8px;
}

.helpChat button {
    background-color: white;
    border: 0.1px solid rgba(0,0,0,0.2);
    padding: 8px;
    border-radius: 8px;
}   

.helpEmail button {
    background-color: white;
    border: 0.1px solid rgba(0,0,0,0.2);
    padding: 8px;
    border-radius: 8px;
}   

.helpChat button:hover {
  background-color: #f0f0f0;
}

.helpEmail button:hover {
  background-color: #f0f0f0;
}

.helpChat button i{
   margin-right: 4px;
} 

.helpEmail button i{
   margin-right: 4px;
} 

.titleBox {
    margin: 0;
}

.helpEmail {
    margin: 0;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    border: 0.1px solid rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-around;
    gap: 8px;
    margin-top: 16px;
}

.toggle1 {
    margin: 0;
    border-top:  0.1px solid rgba(0,0,0,0.2);
    padding: 12px;
    background-color:white;
}

.toggle1.open {
    background-color: #f0f0f0;
}

.content {
  max-height: 20px;       /* chỉ hiện 1 dòng */
  overflow: hidden;
  transition: max-height 0.8s ease;
}

.open .content {
  max-height: 500px; 
}

.titleContent {
    margin: 0px;
    font-weight: 700;
}

.content {
    margin: 0;
}

.footer {
    padding: 20px;
    text-align: center;
}
/* 
.message i {
    position: fixed;
  bottom: 20px;   
  right: 20px;    
  font-size: 28px;
  background-color: #cb78ef; 
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9999; 
}

.message i:hover {
  transform: scale(1.1); 
  background-color: #c053ef;
}

.message {

} */