.wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    gap: 16px;
    align-items: flex-start;
}

.mapProviders {
    width: 45%;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid rgb(210, 207, 207);
    padding: 16px;
}

h4 { 
    margin:0;
}

.googleMap {
    padding: 4px;
    border-radius: 8px;
}

.googleMap:hover {
    cursor: pointer;
    background-color: rgb(232, 228, 228);
}

.active {
    background-color: rgb(232, 228, 228);
}

.googleMap i {
    margin-right: 4px;
}

hr {
    width: 100%;
    background: #f7f2f2;
}

.block {
    width: 100%;
}