.boxMap {
    display: flex;
    justify-content: space-between;
}

.boxInfo {
    height: 460px;
}

.search i {
    border: 0;
    border-radius: 4px;
}

.search input {
    width: 100%;
    border: none;
    outline: none;
}

.search:focus-within {
    border: 1px solid blue;
}

.search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid rgb(210, 207, 207);
    border-radius: 8px;
    padding: 4px;
}

.attribute {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

.attribute i {
    margin-right: 4px;
}

.allTag {
    background-color: rgb(210, 207, 207);
    padding: 4px;
    border-radius: 4px;
}

.miles select{
    padding: 4px;
    border: 1px solid rgb(210, 207, 207);
    border-radius: 4px;
}

.information {
    border: 1px solid rgb(210, 207, 207);
    border-radius: 4px;
    margin-top: 4px;
    height: 90%;
    /* hoặc auto kèm max-height */
    max-height: 240px; /* chiều cao tối đa của khung */
    overflow-y: auto;  /* bật thanh cuộn dọc */
    overflow-x: hidden; /* ẩn cuộn ngang nếu có */
    box-sizing: border-box;
    margin-top: 20px;
}

.information::-webkit-scrollbar {
  width: 0px;
}

.inforItem {
    padding: 12px;
    font-size: 8px;
}

.inforItem:hover {
    background-color: rgb(237, 233, 233);
}

.click {
    background-color: rgb(210, 207, 207);
}

.map {
    width: 100%;
    height: 100%;
}

.boxOverlay {
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    white-space: nowrap; /* không xuống dòng trừ khi cần */
    transform: translate(-50%, -100%); /* center trên marker */
    display: inline-block;
    padding: 20px;
    justify-items: center;
    overflow: hidden;
    /* width: 200px; */
}

.boxOverlay img {
    object-fit: cover;
    width: 100% ;
    height: auto;
    display: block;
}

.boxOverlay i {
    margin-right: 4px;
    color: blue;
}