.wrapper {
    margin-top: 60px;
    margin-right: 100px;
    margin-left: 100px;
}

h3 i{
    margin-right: 4px;
    padding: 4px;
    border-radius: 8px;
}

i:hover {
    background-color: rgb(210, 210, 210);
}

.body {
    display: flex;
    justify-content: space-between;
    gap: 16px
}

.select {
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid rgb(210, 210, 210);
    display: flex;
    flex-direction: column;
    width: 100% ;
}

.title {
    color: rgb(120, 120, 120);
}

.pricing {
    font-size: 28px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.pricing span {
    color: rgb(120, 120, 120);
    font-size: 12px;
}

.info {
    padding-bottom: 50px;
    height: 20px;
}

.boxBtn {
    height: 52px;
}

.btnSelect {
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}

.list {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    color: rgb(120, 120, 120);
    font-size: 12px;
}


