.wrapper {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  width: 100%;
  margin-top: 16px;
  margin-left: 8px;
  display: flex;
  justify-content: space-between;
  gap: 12px
}

.leftBox {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 50%;
}

.colorBox {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid #ddd;
}

.backgroundColor {
    position: relative;
    display: flex;
    justify-content: flex-start;
    gap: 12px
}

.pickerWrapper {
  margin-top: 8px;
  z-index: 10;
  position: absolute;
  top: 48px; /* nằm ngay dưới box */
  left: 0;
}

.colorInfo {
  display: flex;
  flex-direction: column;
}

.colorInfo strong {
  font-size: 14px;
  color: #222;
}

.colorInfo span {
  font-size: 13px;
  color: #666;
}

.corner {
  display: flex;
  flex-direction: column;
  gap: 8px
}

.inputRange {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px
}

input[type="range"] {
  width: 100%;
  height: 6px;
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(to right, #333 0%, #333 20%, #ddd 20%, #ddd 100%);
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #333;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.hrRow {
  background-color: #ddd;
  width: 100%;
  height: 1px;
  border: none;
}

.hrColum {
  width: 1px;          /* độ dày của line */
  height: 100%;       /* chiều cao */
  background-color: #ddd;
  border: none;        /* loại bỏ border mặc định */
  margin: 0;           /* xóa margin mặc định */
}

.rightBox {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 50%;
}

